<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static 'static/bootstrap/css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'static/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <title>House Management System</title>
</head>
<body>

    {% block context %}

    {% endblock %}
    
    <script src="{% url 'static/js/jquery-3.6.1.min.js' %}" ></script>
    <script src="{% url 'static/bootstrap/js/bootstrap.js' %}" ></script>
    <script src="{% url 'static/bootstrap/js/bootstrap.min.js' %}" ></script>
</body>
</html>